@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Monoton&family=Montserrat:wght@400;600&family=Oswald&family=Poppins:wght@400;500&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Monoton&family=Montserrat:wght@400;600&family=Oswald&family=Poppins:wght@400;500&family=Roboto&family=Source+Sans+Pro&family=Ubuntu&display=swap");

* {
  padding: 0;
  margin: 0;
}
body {
  background-color: #1f1f20;
  position: relative;

}

nav {
  height: 80px;
  background-color: #1b1b1b;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;

  margin-top: -100px;
  width: 100%;
  position: fixed;
  z-index: 1;
  
}
nav .logo {
  color: white;
  font-size: 30px;
  transition: all 0.5s ease-in;
  font-weight: 600;
}
nav .logo:hover {
  color: #da9a07;
}
nav .logo span {
  color: #da9a07;
  transition: all 0.5s ease-in;
}
nav .logo span:hover {
  color: white;
}

nav ul {
  display: flex;
  list-style: none;
  text-align: center;
  padding-top: 20px;
}
nav ul li {
  margin: 0px 7px;
  font-size: 20px;
  margin-left: 30px;
}

nav ul li a{
  text-decoration: none;
}

nav ul li a p{
  text-decoration: none;
  
  color: white;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px;
}


nav ul li a button{
  text-decoration: none;
  background-color: #1b1b1b;
  border: none;
  color: white;
  transition: all 0.5s ease-in-out;
  letter-spacing: 1px;
}

nav .menu-btn i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
  
}
#click {
  display: none;
}

nav ul li a p:hover {
  color: #da9a07;
}

nav ul li a button:hover {
  color: #da9a07;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    /* z-index: 99; */
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(255, 178, 127);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn > span > img {
    width: 24px;
  }
  #myBtn:hover {
    background-color: #555;
  } 


  /* eat sleep code  */
.typing-text {
  color: #f88922;
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  font-weight: 200;
  padding-top: 50px;
  font-size: 20px;
}

.typing-text::after {
  content: "|";
  animation: blink ease 1s infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* eat sleep code  ends */



  /* the first div css code starts */
  #resume {
    padding-left: 20px;
    margin-top: 50px;
    border-radius: 8px;
  }
  #resume>button >a{
    text-decoration: none;
  }
  #resume > button{
  border-radius: 8px;
  border: none;
  }
  #resume > button > a {
    background-color: #da9a07;
    color: #000000;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 1s;
  }
  #resume> button > a:hover {
    background-color: #1f1f20;
    color: white;
    border: 2px solid #da9a07;
  }
  /* for second resume button */
  #resume2 {
    padding-left: 20px;
    margin-top: 50px;
    text-align: center;
  }
  #resume2 >a{
    text-decoration: none;
  }
  #resume2 > a >button{
    background-color: #da9a07;
    color: #000000;
    text-decoration: none;
    padding: 10px 30px 10px 30px;
    border-radius: 8px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 1s;
    
    
  }
  #resume2 > a >button:hover {
    background-color: #1f1f20;
    color: white;
    border: 2px solid #da9a07;
  }
  /* second button */

#contact-phones{
  margin-left: 10px;
}


  #intro {
    display: flex;
    height: 400px;
    margin-top: 100px;
    /* padding-top: 50px; */
  }
  #introText {
    width: 75%;
    font-family: "Poppins", sans-serif;
  }
  #introText > h3 {
    font-size: 50px;
    color: white;
    padding-left: 30px;
    letter-spacing: 3px;
  }
  #str {
    padding-left: 20px;
    height: auto;
    font-family: "Poppins", sans-serif;
    font-size: 70px;
    letter-spacing: 2px;
    color: #da9a07;
    font-weight: bold;
    margin-top: -10px;
    transition: all 1s ease-in;
  }
  #str:hover {
    transform: translatex(50px);
    color: rgb(255, 178, 127);
  }
  #floating_intro {
    position: relative;
  }
  .floating {
    animation-name: floating;
    width: 90%;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  
    margin-top: 5px;
    margin-left: -10px;
  }
  @keyframes floating {
    from {
      transform: translate(0, 0px);
    }
    65% {
      transform: translate(0, 15px);
    }
    to {
      transform: translate(0, 0px);
    }
  }
/* the first div css code ends */


/* nav css starts */
@media all and (min-width: 500px) and (max-width: 940px) {
    nav .menu-btn i {
        display: block;
      }
      #click:checked ~ .menu-btn i::before {
        content: "\f00d";
    
      }
      nav > label > i{
        margin-right: 250px;
      }
      nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease-in-out;
      }
    
      #click:checked ~ ul {
        left: -10%;
      }
      nav ul li {
        margin: 40px 0px;
        font-size: 20px;
      }
      /* first div starts */
      #intro {
        display: block;
      }
      #introText {
        width: 100%;
        font-family: "Poppins", sans-serif;
      }
      #introText > h3 {
        font-size: 40px;
      }
      #introText > h3 + #str {
        width: 100%;
        font-size: 60px;
        letter-spacing: 0.5px;
        margin-top: 2px;
      }
      .typing-dev {
        font-size: 23px;
        padding-left: 20px;
        color: whitesmoke;
        letter-spacing: 0.7px;
      }
    
      .floating {
        width: 40%;
        display: block;
        margin: auto;
        margin-top: 30px;
      }
    
      .typing-text {
        padding-top: 50px;
        font-size: 40px;
      }
      /* first div ends */
}

@media all and (min-width: 150px) and (max-width: 500px) {
    nav > label > i{
        margin-right: 200px;
      }
      nav .menu-btn i {
        display: block;
      }
      #click:checked ~ .menu-btn i::before {
        content: "\f00d";
      }
      nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease-in-out;
      }
    
      #click:checked ~ ul {
        left: -15%;
      }
      nav ul li {
        margin: 40px 0px;
        font-size: 20px;
      }
      /* first div starts */
      #resume {
        margin-top: 20px;
      }
      #resume > button > a {
        font-size: 12px;
        padding: 5px 15px 5px 15px;
      }

      #resume2 {
        margin-top: 20px;
      }
      #resume2 > a >button{
        font-size: 12px;
        padding: 5px 15px 5px 15px;
      }

      #intro {
        display: block;
      }
      #introText {
        width: 100%;
        font-family: "Poppins", sans-serif;
      }
      #introText > h3 {
        font-size: 25px;
        margin-left: -10px;
        letter-spacing: 0px;
      }
    
      #introText > h3 + #str {
        width: 100%;
        font-size: 30px;
        letter-spacing: 0.5px;
        margin-top: 5px;
      }
      .typing-dev {
        font-size: 16px;
        padding-left: 20px;
        color: whitesmoke;
        letter-spacing: 0.7px;
      }
    
      .floating {
        width: 60%;
        display: block;
        margin: auto;
        margin-top: 50px;
      }
    
      .typing-text {
        padding-top: 40px;
        font-size: 20px;
      }
      /* first div ends */

}
/* nav and first div ends */

/* --------------------------------------------------------nav and first div css ends ----------------------------------------------------- */

/* about  starts*/
#about {
  display: flex;
  gap: 60px;
  background-color: #da9a07;
  margin-top: -50px;
  padding-bottom: 100px;
}
#about_img {
  width: 40%;
}
#about_img > img {
  width: 80%;
  margin-left: 50px;
}
#aboutInfo {
  width: 50%;
  padding: 10px;
  margin-top: -50px;
}
#myImage {
  display: block;
  width: 30%;
  margin: auto;

  padding-bottom: 40px;
}
#myImage + h3 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  letter-spacing: 0.5px;
  color: #000000;
}
#myImage + h3 + h2 {
  font-family: "Poppins", sans-serif;
  font-size: 60px;
  margin-left: -8px;
  color: #645e5d;
  margin-top: -5px;
}
#myImage + h3 + h2 > span {
  color: whitesmoke;
}
#myImage + h3 + h2 + p {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}
#svg2 {
  margin-top: -230px;
}

@media all and (min-width: 500px) and (max-width: 940px) {
  #svg1 {
    margin-top: 150px;
  }
  #about {
    display: block;
  }
  #about_img {
    display: block;
    width: 50%;
    margin: auto;
  }
  #aboutInfo {
    width: 100%;
    margin-top: 30px;
  }

  #myImage + h3 {
    padding: 10px;
    font-size: 28px;
  }
  #myImage + h3 + h2 {
    padding: 10px;
    font-size: 55px;
    margin-top: -20px;
  }
  #myImage + h3 + h2 + p {
    font-size: 18px;
    padding: 10px;
    margin-top: -10px;
  }
}

@media all and (min-width: 150px) and (max-width: 500px) {
  #svg1 {
    margin-top: 80px;
  }
  #about {
    display: block;
    margin-top: -10px;
    padding-bottom: 90px;
  }
  #about_img {
    display: block;
    width: 70%;
    margin: auto;
    margin-left: 35px;
  }
  #aboutInfo {
    width: 100%;
    margin-top: 30px;
  }
  #myImage {
    width: 40%;
  }
  #myImage + h3 {
    padding: 10px;
    font-size: 25px;
  }
  #myImage + h3 + h2 {
    padding: 15px;
    font-size: 40px;
    margin-top: -25px;
  }
  #myImage + h3 + h2 + p {
    font-size: 14px;
    padding: 10px;
    margin-top: -20px;
  }
}

/* about ends  */


/* skills starts  */
.mySkills > h1 {
  text-align: center;
  font-size: 60px;
  letter-spacing: 15px;
  font-family: "Poppins", sans-serif;
  color: #7b7b7b;
  font-weight: 700;
}
.skill {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(1, auto);
  column-gap: 10px;
  margin: auto;
  width: 100%;
  justify-content: center;
  padding: 100px 0px 100px 0px;
}
.skill > div > img {
  width: 40%;
  display: block;
  margin: auto;
  transition: all 1s;
}
.skill > div > img:hover {
  transform: scale(1.2);
}
.skill > div > h2 {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: aliceblue;
  padding-top: 20px;
  transition: all 1s;
}
.skill > div > h2:hover {
  transform: scale(1.2);
  color: #da9a07;
}
@media all and (min-width: 500px) and (max-width: 940px) {
  #about + svg {
    margin-bottom: -90px;
  }
  .mySkills > h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  .skill {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    row-gap: 30px;
    padding: 50px 0px 100px 0px;
  }
  .skill > div > h2 {
    font-size: 18px;
  }
}

@media all and (min-width: 150px) and (max-width: 500px) {
  #about + svg {
    margin-bottom: -150px;
  }
  .mySkills > h1 {
    font-size: 30px;
    padding-top: 20px;
    letter-spacing: 7px;
  }
  .skill {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    row-gap: 30px;
    padding: 50px 0px 100px 0px;
  }
  .skill > div > img {
    width: 30%;
  }
  .skill > div > h2 {
    font-size: 13px;
  }
}

/* skills ends  */

/* project starts */

.projectss {
  background-color: #1f1f20;
}
.aliens {
  color: rgb(123, 123, 123);
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
  margin-left: 50%;
  transform: translate(-50%, -50%);
}

.aliens > * {
  animation: turn 5s ease-in;
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  transform: scaleY(1);
}

@keyframes turn {
  0% {
    transform: scaleY(1) rotateY(90deg);
  }
  100% {
    text-shadow: 0 0 0.5rem rgb(50, 50, 50);
    transform: scaleY(1) rotateY(0);
  }
}

@media all and (min-width: 500px) and (max-width: 940px) {
  .projectss {
    margin-top: -85px;
    padding-top: 50px;
  }
  .aliens {
    font-size: 45px;
    width: 80%;
    font-weight: 700;
    text-align: center;
  }
}

@media all and (min-width: 150px) and (max-width: 500px) {
  .projectss {
    margin-top: -85px;
    padding-top: 40px;
  }
  .aliens {
    font-size: 24px;
    width: 96%;
    font-weight: 700;
    text-align: center;
  }
}

.projectImg {
  width: 30%;
  display: block;
  margin: auto;
}
.myprojects {
  padding-top: 50px;
}
.myprojects > div {
  display: flex;
  width: 80%;
  margin: auto;
}
.backendproject{
  color: #da9a07;
}
.scrollimg {
  display: flex;
  gap: 50px;
  padding-top: 50px;
}
.scrollimg .box {
  width: 300px;
  height: 250px;
  background-color: black;
  background-position: top;
  transition: ease-in-out 3s;
}
.scrollimg .box.box1 {
  background-image: url(./images/Mailtrap.png);
  background-size: cover;
}
.scrollimg .box:hover {
  background-position: bottom;
}
.scrollimg > div + div {
  width: 60%;
}
.scrollimg > div + div > h2 {
  color: #da9a07;
  font-family: "Poppins", sans-serif;
}
.scrollimg > div + div > h2 > span > img {
  cursor: pointer;
  width: 35px;
  margin-top: -4px;
}
.scrollimg > div + div > h2 + p {
  color: aliceblue;
  padding-top: 15px;
}
.scrollimg > div + div > h2 + p + h3 {
  font-size: 18px;
  color: wheat;
}
.scrollimg > div + div > h2 + p + h3 + div {
  display: flex;
}
.scrollimg > div + div > h2 + p + h3 + div > img {
  width: 30px;
  margin-left: 10px;
}
.scrollimg > div + div > h2 + p + h3 + div > img:last-child {
  width: 24px;
}

.scrollimg > div + div > h2 + p + h3 + div > img:first-child {
  margin-left: 0px;
}

.secondScroll {
  display: flex;
  width: 80%;
   padding-top: 100px; 
  column-gap: 20px;
}
.secondscrollabout {
  width: 60%;
  padding-left: 20px;
}
.secondScroll > div > h2 {
  color: #da9a07;
  font-family: "Poppins", sans-serif;
}
.secondScroll > div > h2 > span > img {
  width: 35px;
  margin-top: -4px;
  cursor: pointer;
}
.secondScroll > div > h2 + P {
  color: white;
}
.secondScroll > div > h3 {
  color: wheat;
  font-size: 18px;
}
.secondScroll > div > h3 + div {
  display: flex;
  padding-top: 5px;
}
.secondScroll > div > h3 + div > img {
  width: 27px;
  margin-left: 10px;
}

.secondScroll .box {
  width: 300px;
  height: 250px;
  background-color: black;
  background-position: top;
  transition: ease-in-out 3s;
}
.secondScroll .box.box2 {
  background-image: url(./images/get.png);
  background-size: cover;
}
.secondScroll .box:hover {
  background-position: bottom;
}
.secondScroll .box.box0 {
  background-image: url(./images/bus-api-img.jpg);
  background-size: cover;
}

/* third project  */
.scrollimg .box.box3 {
  background-image: url(./images/weather.png);
  background-size: cover;
}

@media all and (min-width: 500px) and (max-width: 940px) {
  .projectImg {
    width: 40%;
  }
  .myprojects {
    margin: auto;
    width: 100%;
  }
  .myprojects > div {
    display: block;
    margin: auto;
  }
  .scrollimg {
    display: block;
    gap: 50px;
    padding-top: 60px;
  }
  .scrollimg .box {
    width: 250px;
    height: 200px;
    display: block;
    margin: auto;
  }
  .scrollimg > div + div {
    width: 100%;
  }
  .scrollimg > div + div > h2 {
    color: #da9a07;
    font-family: "Poppins", sans-serif;
    font-size: 22px;
    padding-top: 30px;
  }
  .scrollimg > div + div > h2 + p {
    color: aliceblue;
    padding-top: 5px;
    font-size: 15px;
  }

  .secondScroll {
    display: block;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .secondscrollabout {
    width: 100%;
  }
  .secondScroll .box {
    width: 250px;
    height: 200px;
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  .secondScroll > div > h2 {
    font-size: 22px;
    margin-left: -20px;
  }
  .secondScroll > div > h2 + P {
    color: white;
    margin-left: -20px;
  }
  .secondScroll > div > h3 {
    margin-left: -20px;
  }
  .secondScroll > div > h3 + div {
    margin-left: -25px;
  }
}

@media all and (min-width: 150px) and (max-width: 500px) {
  .projectImg {
    width: 60%;
  }
  .myprojects {
    margin: auto;
    width: 100%;
  }
  .myprojects > div {
    display: block;
    margin: auto;
  }
  .scrollimg {
    display: block;
    gap: 50px;
    padding-top: 40px;
  }
  .scrollimg .box {
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
  }
  .scrollimg > div + div {
    width: 100%;
  }
  .scrollimg > div + div > h2 {
    color: #da9a07;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    width: 100%;
    padding-top: 30px;
  }
  .scrollimg > div + div > h2 > span > img {
    cursor: pointer;
    width: 20px;
    margin-top: -4px;
  }

  .scrollimg > div + div > h2 + p {
    color: aliceblue;
    padding-top: 5px;
    font-size: 15px;
    margin-left: 0px;
  }

  .secondScroll {
    display: block;
    padding-top: 100px;
    padding-bottom: 50px;
  }
  .secondscrollabout {
    width: 100%;
  }
  .secondScroll .box {
    width: 200px;
    height: 150px;
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  .secondScroll > div > h2 {
    font-size: 22px;
    margin-left: -20px;
  }
  .secondScroll > div > h2 + P {
    color: white;
    margin-left: -20px;
  }
  .secondScroll > div > h3 {
    margin-left: -20px;
  }
  .secondScroll > div > h3 + div {
    margin-left: -25px;
  }
}
/* project ends */


/* my contribution starts */
/* my contribution starts */
#statistic {
  margin: auto;
  text-align: center;
  font-size: 60px;
  margin-top: 100px;
  font-weight: 600;
  color: #7b7b7b;
  letter-spacing: 10px;
  font-family: "Poppins", sans-serif;
}

#project_contribution {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(1, auto);
  font-family: "Poppins", sans-serif;
  width: 90%;
  margin: auto;
  gap: 50px;
  padding-top: 100px;
  align-content: center;
  padding-bottom: 100px;
  letter-spacing: 1px;
}
.conthead {
  text-align: center;
  color: rgb(231, 225, 225);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-top: 30px;
  font-size: 20px;
  padding-bottom: 20px;
  transition: all 1s;
}
.conthead:hover {
  transform: rotateY(360deg);
}
.conthead > h2 {
  font-size: 30px;
  font-weight: 700;
}
.conthead > h2 > span {
  color: #da9a07;
  font-size: 40px;
}
.conthead > h2 + p {
  font-weight: 500;
}
@media all and (min-width: 500px) and (max-width: 940px) {
  #statistic {
    font-size: 40px;
    margin-top: 100px;
    font-weight: 700;
    letter-spacing: 7px;
  }
  #project_contribution {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
  
  
}
@media all and (min-width: 150px) and (max-width: 500px) {
  #statistic {
    font-size: 40px;
    margin-top: 60px;
    font-weight: 700;
    letter-spacing: 5px;
    padding-top: 70px;
  }
  #project_contribution {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, auto);
    padding-top: 50px;
  }
}
/* my contribution ends */


/* git calander starts */
#alignethem{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  margin: auto;
  width: 70%;
}
@media all and (min-width: 350px) and (max-width: 940px) {
  #alignethem{
   
    grid-template-columns: repeat(2,1fr);
  
  }
}

@media all and (min-width: 0px) and (max-width: 351px) {
  #alignethem{
   
    grid-template-columns: repeat(1,1fr);
  
  }
}

/* git calender */
.code {
  font-family: "Poppins", sans-serif;
  color: #7b7b7b;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  padding-bottom: 50px;
}
.calendar {
  color: black;
  background-color: white;
  transition: all 0.5s;
  width: 70%;
}
.calendar:hover {
  background-color: black;
}

#streak{
  display: flex;
  /* max-width: 100%; */
  justify-content: center;
}
#github-streak-stats{
  max-width: 100%;
}
#github-top-langs{
  max-width: 100%;
}
#github-stats-card{
  max-width: 100%;
}

@media all and (min-width: 150px) and (max-width: 500px) {
  .code {
   
    font-size: 40px;
    text-align: center;
    padding-bottom: 50px;
  }
  .calendar {
    color: black;
    background-color: white;
    transition: all 0.5s;
    width: 90%;
    font-size: 15px;
  }
}



/* git calnder ends */







/* contact starts */
/* contact starts */
.contactme {
  padding-top: 100px;
}
.contactme > h1 {
  font-size: 70px;
  color: rgb(123, 123, 123);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  letter-spacing: 10px;
  text-align: center;
}
.contacts {
  display: flex;
  padding-top: 100px;
}

.contactimg > img {
  width: 40%;
  margin-left: 150px;
}

.contactMail {
  width: 50%;
}
.contactMail > h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  padding-bottom: 10px;
}
.contactMail > h2 > span > img {
  width: 6%;
}
.form {
  width: 80%;
}
.formname {
  width: 45%;
  padding-left: 10px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  border-radius: 7px;
}
.formmail {
  width: 45%;
  margin-left: 40px;
  padding-left: 10px;
  height: 50px;
  font-family: "Poppins", sans-serif;
  border-radius: 7px;
}
textarea {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  border-radius: 7px;
  padding-left: 10px;
  padding-top: 10px;
  font-family: "Poppins", sans-serif;
}
input[type="text"]:focus {
  border: 3px solid #da9a07;
}
input[type="email"]:focus {
  border: 3px solid #da9a07;
}
#submit {
  padding: 10px 20px 10px 20px;
  font-family: "Poppins", sans-serif;
  background-color: #da9a07;
  margin-top: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 8px;
  transition: all 1s;
}
#submit:hover {
  background-color: #1f1f20;
  border: 2px solid #da9a07;
  color: white;
}
form + div {
  display: flex;
  width: 30%;
  padding-top: 50px;
  margin: auto;
  align-items: center;
}
form + div > img {
  width: 20%;
  transition: all 1s;
  cursor: pointer;
}
form + div > img:hover {
  transform: scale(1.3);
}
#contact-github {
  margin-left: 10px;
}

#contact-emails{
  margin-left: 10px;
}


.copyright {
  color: white;
  text-align: center;
  padding-top: 30px;
}
.copyright > span {
  font-size: 20px;
}
@media all and (min-width: 500px) and (max-width: 1000px) {
  .contactme {
    padding-top: 100px;
  }
  .contactme > h1 {
    font-size: 50px;
  }
  .contacts {
    display: block;
    padding-top: 30px;
  }
  .contactimg > img {
    width: 20%;
    margin-left: 30px;
    display: block;
    margin: auto;
  }
  .contactMail {
    width: 95%;
    margin: auto;
    padding: 30px;
  }
  .contactMail > h2 {
    font-size: 22px;
    margin-left: 60px;
  }
  .contactMail > h2 > span > img {
    width: 22px;
  }
  .form {
    width: 80%;
    margin-left: 60px;
  }
  .formname {
    width: 40%;
    padding-left: 10px;
  }
  .formmail {
    width: 40%;
  }
  textarea {
    width: 88%;
    height: 120px;
    margin-top: 20px;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
  }
  #submit {
    padding: 8px 15px 8px 15px;
    margin-top: 20px;
  }
  form + div {
    justify-content: center;
    width: 40%;
  }
  .typing-text {
    font-size: 22px;
  }
}

@media all and (min-width: 150px) and (max-width: 500px) {
  .contactme {
    padding-top: 100px;
  }
  .contactme > h1 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .contacts {
    display: block;
    padding-top: 30px;
  }
  .contactimg > img {
    width: 30%;
    margin-left: 30px;
    display: block;
    margin: auto;
  }
  .contactMail {
    width: 100%;
    margin: auto;
    padding: 30px;
  }
  .contactMail > h2 {
    font-size: 18px;
  }
  .contactMail > h2 > span > img {
    width: 22px;
  }
  .form {
    width: 100%;
  }
  .formname {
    width: 100%;
    padding-left: 10px;
    height: 40px;
  }
  .formmail {
    width: 100%;
    margin: auto;
    height: 40px;
  }
  textarea {
    width: 100%;
    height: 120px;
    margin-top: 20px;
    border-radius: 7px;
    padding-left: 10px;
    padding-top: 10px;
    font-family: "Poppins", sans-serif;
  }
  #submit {
    padding: 8px 15px 8px 15px;
    margin-top: 20px;
  }
  form + div {
    justify-content: center;
    width: 40%;
  }
  form + div > img {
    width: 30%;
  }
  .typing-text {
    font-size: 18px;
  }
}

/* constact ends */